{% extends 'base.html' %}

{% block title %}
    list view
{% endblock %}

{% block css %}
<style>
    ul{
        background-color: aqua;
    }
</style>
{% endblock %}

{% block body %}
    {% for docs in all_docs %}
    <ul><!-- table-->
        <!--table head-->
            <!--static-->
        <!--table head body-->
        <!--table body-->
            <li>User: {{docs.user_name}}</li>
            <li>Document: {{docs.doc_name}}</li>
            <li>Category: {{docs.category}}</li>
            <li>Link: {{docs.link}}</li>
            <!--table body end-->
        <!--table end-->
    </ul>
    {% endfor %}

{% endblock %}